@import "_Variables";
@import "_App";
@import "_Frame";
@import "_Slide";
@import url('https://styles.leonardfollner.de/space-mono.css');

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fafafa;
  color: $black;
}

h1 {
  font-size: 3rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h2 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #009ec9;
  text-decoration: none;
}

// from https://www.joshwcomeau.com/shadow-palette/
:root {
  --shadow-color: 0deg 0% 62%;
  --shadow-elevation-low:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
          -0.6px 0.8px 1.1px -1.2px hsl(var(--shadow-color) / 0.34),
          -1.4px 2.1px 2.8px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.29),
          -0.9px 1.3px 1.8px -0.6px hsl(var(--shadow-color) / 0.29),
          -1.8px 2.6px 3.6px -1.2px hsl(var(--shadow-color) / 0.29),
          -3.6px 5.3px 7.2px -1.9px hsl(var(--shadow-color) / 0.29),
          -7px 10.3px 14px -2.5px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.27),
          -1.7px 2.5px 3.4px -0.3px hsl(var(--shadow-color) / 0.27),
          -3px 4.4px 6px -0.6px hsl(var(--shadow-color) / 0.27),
          -4.5px 6.6px 9px -0.8px hsl(var(--shadow-color) / 0.27),
          -6.6px 9.7px 13.2px -1.1px hsl(var(--shadow-color) / 0.27),
          -9.4px 13.9px 18.9px -1.4px hsl(var(--shadow-color) / 0.27),
          -13.4px 19.8px 26.9px -1.7px hsl(var(--shadow-color) / 0.27),
          -18.8px 27.7px 37.7px -1.9px hsl(var(--shadow-color) / 0.27),
          -25.8px 38px 51.7px -2.2px hsl(var(--shadow-color) / 0.27),
          -34.8px 51.3px 69.7px -2.5px hsl(var(--shadow-color) / 0.27);
}