body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  // from https://www.joshwcomeau.com/shadow-palette/
  --shadow-color: 0deg 0% 73%;
  --shadow-elevation-low:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.24),
          -0.5px 0.8px 1.1px -1.2px hsl(var(--shadow-color) / 0.24),
          -1.2px 1.7px 2.3px -2.5px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-medium:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
          -0.8px 1.2px 1.6px -0.6px hsl(var(--shadow-color) / 0.2),
          -1.6px 2.3px 3.2px -1.2px hsl(var(--shadow-color) / 0.2),
          -3.1px 4.5px 6.1px -1.9px hsl(var(--shadow-color) / 0.2),
          -5.9px 8.7px 11.8px -2.5px hsl(var(--shadow-color) / 0.2);
  --shadow-elevation-high:
          -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.19),
          -1.3px 1.9px 2.6px -0.3px hsl(var(--shadow-color) / 0.19),
          -2.2px 3.2px 4.4px -0.6px hsl(var(--shadow-color) / 0.19),
          -3.2px 4.8px 6.5px -0.8px hsl(var(--shadow-color) / 0.19),
          -4.7px 6.9px 9.4px -1.1px hsl(var(--shadow-color) / 0.19),
          -6.7px 9.9px 13.4px -1.4px hsl(var(--shadow-color) / 0.19),
          -9.5px 13.9px 18.9px -1.7px hsl(var(--shadow-color) / 0.19),
          -13.2px 19.4px 26.4px -1.9px hsl(var(--shadow-color) / 0.19),
          -18.1px 26.7px 36.3px -2.2px hsl(var(--shadow-color) / 0.19),
          -24.3px 35.9px 48.8px -2.5px hsl(var(--shadow-color) / 0.19);
}